/* CSS declarations go here */
#list-view-announce{
	background-color: #eeeeee;
}

#list-view-announce, .list-view {
	border-bottom : 1px solid #eee;
}

.list-view > div{
	padding-top: 7px;
	min-height: 35px;
}

.list-view:nth-child(odd){
	background-color: #eee;
}

.list-view:hover{
	background-color: #ffffff;
}